<settings>
    <setting propertyKey="@Properties.appVersion" title="@Strings.appVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true"/>
    </setting>
    <setting propertyKey="@Properties.unitsProp" title="@Strings.unitsSettingTitle" prompt="@Strings.unitsSettingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.unitsSettingSystem</listEntry>
            <listEntry value="1">@Strings.unitsSettingMetric</listEntry>
            <listEntry value="2">@Strings.unitsSettingImperial</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.dataLabelProp" title="@Strings.labelSettingTitle" prompt="@Strings.labelSettingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.labelSettingValHeight</listEntry>
            <listEntry value="1">@Strings.labelSettingValTime</listEntry>
            <listEntry value="2">@Strings.labelSettingValNone</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.displayProp" title="@Strings.displaySettingTitle" prompt="@Strings.displaySettingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.displaySettingValGraph</listEntry>
            <listEntry value="1">@Strings.displaySettingValTable</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.zoneProp" title="@Strings.zoneSettingTitle" prompt="@Strings.zoneSettingPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.zoneSettingValSouth</listEntry>
            <listEntry value="1">@Strings.zoneSettingValNorth</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.backgroundDownloadProp" title="@Strings.backgroundDownloadSettingTitle" prompt="@Strings.backgroundDownloadSettingPrompt">
        <settingConfig type="boolean"/>
    </setting>
</settings>